<form style="display: flex; flex-direction: column">
  <p>Register</p>
  <input type="text" name="username" id="first_name" class="input-field" placeholder="First Name">
  <input type="text" name="username" id="surname" class="input-field" placeholder="Surname">
  <input type="text" name="username" id="username" class="input-field" placeholder="Username">
  <input type="password" name="password" id="password" class="input-field" placeholder="Password">
  <input type="password" name="password" id="password_confirmation" class="input-field" placeholder="Confirm password">
  <button>ENTER</button>
</form>
